*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size: 40px;
}
.fullpage{
    background-image: url("https://t3.ftcdn.net/jpg/00/94/25/52/360_F_94255289_bLOLo8dVkESH4wP4QNVUg4hWBlcBEEOg.jpg");
    background-size: cover;
    height: 100vh;
    width: 600;
}

.cont{
    padding-left: 36%;
    padding-top: 180px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
   padding-left: 32%;
   color: aliceblue;
   font-size: 20px;
}
span{
    padding-left: 31%;
    color:aliceblue;
    font-size: 20px;

}
.launch_time{
    display: flex;
    padding-left: 31%;
    margin-top: 150px;
}
.launch_time div{
    flex-basis: 70px;
    background-color: rgb(21, 32, 14);
    padding: 40px;
    background-position-x: 0%;   
    padding-top: 60px;
    padding-bottom: 60px;
}